.input-default {
    border-radius: 0%;
    border: solid 1px;
    height: 40px;
    width: 60vw;
    color:#08ABDE;
}

.input-small {
    border-radius: 0%;
    border: solid 1px;
    height: 40px;
    width: 45vw;
    color:#08ABDE;
}

.input-default::placeholder {
    color:#08ABDE;
    font-size: small;
}

.input-small::placeholder {
    color:#08ABDE;
    font-size: small;
}


.button-default {
    border: 0px;
    color: white;
    background-color:#08ABDE;
    height: 40px;
    width: 60vw;
    -webkit-box-shadow: 0px 6px 4px -1px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 6px 4px -1px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 6px 4px -1px rgba(0, 0, 0, 0.36);
}

.button-default:active {
    border: solid 1px;
    color:#08ABDE;
    background-color: white;
    height: 40px;
    width: 60vw;
    -webkit-box-shadow: 0px 6px 4px -1px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 6px 4px -1px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 6px 4px -1px rgba(0, 0, 0, 0.36);
}